<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="readFile" value="C:\Users\dilexet\Documents\epam\Task_2\TextProcess\file_1.txt"/>
        <add key="writeFile" value="C:\Users\dilexet\Documents\epam\Task_2\TextProcess\file_2.txt"/>
        <add key="patternIsLetter" value="\w"/>
        <add key="patternRemoveExtraTab" value="[ ]+|[\t]+"/>
        <add key="patternRemoveExtraNewLine" value="[\r\n]+"/>
        <add key="patternNewLine" value="\r\n"/>
        <add key="--help" value="Помощь"/>
        <add key="--SortByWordCount" value="Вывести все предложения заданного текста в порядке возрастания количества слов в каждом из них."/>
        <add key="--GetWordsGivenLength" value="Во всех вопросительных предложениях текста найти и напечатать без повторений слова заданной длины."/>
        <add key="--DeleteWordsBeginConsonant" value="Из текста удалить все слова заданной длины, начинающиеся на согласную букву."/>
        <add key="--ReplaceStringWithSubstring" value="В некотором предложении текста слова заданной длины заменить указанной подстрокой, длина которой может не совпадать с длиной слова."/>
        <add key="--GetConcordance" value="Обработка текстового файла."/>
    </appSettings>
</configuration>