@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new {@class = "navbar-link", title = "Manage"})
            </li>
            <li>
                <a class="navbar-link" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Registration", "Register", "Account", routeValues: null, htmlAttributes: new {@class = "navbar-link", id = "registerLink"})
        </li>
        <li>
            @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new {@class = "navbar-link", id = "loginLink"})
        </li>
    </ul>
}