<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="readFile" value="C:\Users\dilexet\Documents\epam\Task_2\TextProcess.ConsoleApplication\file_1.txt"/>
        <add key="writeFile" value="C:\Users\dilexet\Documents\epam\Task_2\TextProcess.ConsoleApplication\file_2.txt"/>
        <add key="IsLetter" value="\w"/>
        <add key="patternRemoveExtraTab" value="[ ]+|[\t]+"/>
        <add key="patternRemoveExtraNewLine" value="[\r\n]+"/>
    </appSettings>
</configuration>